body {
    color:aliceblue;
    blackground:brow;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgba(236, 162, 214, 0.466);
    padding: 20px;
    fonte-size: 32px;
    color: rgba(241, 120, 191, 0.466)
}