body {
    color:aliceblue;
    blackground:brow;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgba(236, 162, 214, 0.466);
    padding: 20px;
    fonte-size: 32px;
    color: rgba(241, 120, 191, 0.466)
}

section {
    background: rgb(233, 208, 229);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.camada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p {
    font-size: 20px;
}